.card {
    background-color: var(--color-bg-grey);
    margin-bottom: 2rem;
    border-radius: 11px 11px 0 0;
    overflow: hidden;
    display: inline;
    height: 22rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;

    &__details {
        display: flex;
        flex-direction: column;

        span {
            font-weight: bold;
            color: var(--color-bg-grey-md);
        }
    }

    &__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 2rem;
    }

    &__image {
        height: 200px;
        width: 100%;
        object-fit: cover;
    }

    &__buttons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: .5rem;
    }

    &__actions {
        display: flex;
        align-items: center;
        gap: 1rem;

        &--qty {
            background-color: var(--color-secondary);
            border: none;
            border-radius: var(--border-primary);
            height: 2rem;
            width: 2rem;
            color: var(--color-primary);
            font-weight: 700;
            font-size: 2rem;
            cursor: pointer;

            &-add {
                font-size: 15px;
                cursor: pointer;
                transition: all .4s;
                width: 10rem;
                width: 25rem;
                margin: 0 auto;

                &:hover {
                    background-color: var(--color-secondary-hover);
                }
            }
        }

        &--remove {
            background-color: var(--color-danger);
            color: var(--color-primary);
            font-weight: 700;
            border: none;
            padding: .5rem;
            width: 6rem;
            margin-bottom: 1rem;
            border-radius: var(--border-primary);
            cursor: pointer;
            transition: all .4s;

            &:hover {
                scale: 1.1;
            }
        }
    }
}