.card {
    border-radius: var(--border-secondary);
    overflow: hidden;
    box-shadow: var(--shadow-primary);

    &__img {
        img {
            height: 14rem;
            width: 100%;
            object-fit: cover;
        }
    }

    &__btn {
        background-color: var(--color-button-primary);
        color: var(--color-text-primary);
        font-weight: 500;
        border: none;
        display: flex;
        justify-content: center;
        margin: .5rem;
        width: 70%;
        height: 70%;
        border-radius: var(--border-primary);

        &-1 {
            display: flex;
            justify-content: center;
        }

        &-2 {
            height: 2rem;
            width: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.5rem;
        }
    }

    &__actions {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__info {
        display: flex;
        justify-content: space-between;
        padding: 0.2rem 1rem;

        &-name {
            text-transform: uppercase;
            font-weight: 500;
        }

        &-price {
            color: var(--color-grey-primary);
            font-weight: 500;
        }
    }
}

.decrease {
    background-color: var(--color-danger);
}

.no-items {
    img {
        display: flex;
        justify-content: center;
        height: 80%;
        width: 70%;
        align-content: center;
        border-radius: 50%;
    }

    h1 {
        text-align: center;
    }

}