.cart {
    &__svg {
        width: 1.5rem;
        height: 1.5rem;
        color: #fff;
        position: relative;
    }

    &__count {
        position: absolute;
        top: -12px;
        left: 15px;
        background-color: red;
        padding: .2rem;
        border-radius: 50%;
        height: 20px;
        width: 20px;
        font-size: 12px;
    }

    button {
        outline: none;
        border: none;
        background: none;
        cursor: pointer;
    }
}