@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

:root {

    --font-family: "Manrope", sans-serif;

    --gradient-text: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
    --gradient-bar: linear-gradient(103.22deg, #ae67fa -13.86%, #f49867 99.55%);

    --color-bg: #232f3e;
    --color-footer: #031b34;
    --color-cart: #042c54;
    --color-text-primary: #fff;
    --color-text-secondary: #ECE8DD;
    --color-subtext: #ff8a71;
    --color-button-primary: #362FD9;
    --color-danger: #FF0303;
    --color-grey-primary: #7b7b7b;

    --border-primary: 5px;
    --border-secondary: 11px;

    --shadow-primary: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}