.navbar {
    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1em 2em;
        font-family: var(--font-family);
        background-color: #232f3e;
        overflow: hidden;

        a {
            text-decoration: none;
            font-size: 1rem;
        }
    }

    &__links {
        display: flex;
        gap: 1em
    }

    &__active {
        color: #777;
    }

    &__inactive {
        color: #ccc;
    }
}